@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  /* COLOR */
  /* PRIMARY */
  --color-primary-orange: hsl(31, 77%, 52%);
  --color-primary-cyan-1: hsl(184, 100%, 22%);
  --color-primary-cyan-2: hsl(179, 100%, 13%);
  /* NEATRAL */
  --color-white: hsla(0, 0%, 100%, 0.75);
  --color-grey: hsl(0, 0%, 95%);
  /* FONT-FAMILY */
  --font-lexend: 'Lexend Deca', sans-serif;
  --font-shoulders: 'Big Shoulders Display', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-lexend);
}

body {
  box-sizing: inherit;
  background-color: var(--color-white);
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1000px;
  /* width: 90%; */
  /* height: 90vh; */
  min-height: 90vh;
  margin: 2rem;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  /* height: 100%; */
}

.column__icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 5rem;
}

.column__heading {
  font-size: 3.8rem;
  color: var(--color-grey);
  letter-spacing: 2px;
  font-family: var(--font-shoulders);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.column__text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 1.5px;
  color: var(--color-white);
  margin-bottom: auto;
}

.column__btn {
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 75%;
  margin-top: 5rem;
  align-self: flex-start;
  background-color: var(--color-grey);
  border-radius: 100px;
  border: 1px solid var(--color-grey);
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.sedan.column {
  background-color: var(--color-primary-orange);
}

.sedan .column__icon::before {
  content: '';
  display: inline-block;
  height: 105%;
  width: 170%;
  background-image: url(/images/icon-sedans.svg);
  background-size: cover;
}

.sedan .column__btn {
  color: var(--color-primary-orange);
}

.suv.column {
  background-color: var(--color-primary-cyan-1);
}

.suv .column__icon::before {
  content: '';
  display: inline-block;
  height: 105%;
  width: 170%;
  background-image: url(/images/icon-suvs.svg);
  background-size: cover;
}

.suv .column__btn {
  color: var(--color-primary-cyan-1);
}

.luxury.column {
  background-color: var(--color-primary-cyan-2);
}

.luxury .column__icon::before {
  content: '';
  display: inline-block;
  height: 105%;
  width: 170%;
  background-image: url(/images/icon-luxury.svg);
  background-size: cover;
}

.luxury .column__btn {
  color: var(--color-primary-cyan-2);
}

.column__btn:active {
  background-color: transparent;
  color: var(--color-grey);
  transform: scale(0.95);
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 50em) {
  /* html {
    font-size: 55%;
  } */

  .column {
    padding: 3rem;
  }
  .column__text {
    line-height: 1.5;
  }
}

@media only screen and (max-width: 40.625em) {
  .container {
    flex-direction: column;
  }
}
